<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<div class="container-fluid">
  <h1>Image Index</h1>
  <div class="row">
  <% @image_list.each do |image| %>
      <div class="col preview-image">
      <div class="card" >
        <div class="card-body">
          <p class="card-text">
            <% image.tag_list.each do |tag| %>
              <%=link_to tag, images_path(tag: tag) %>
            <% end %>
          </p>
        </div>
        <%= image_tag(image.image_url, class: 'card-img') %>
        <div class="card-footer">
          <%=link_to 'delete', image_path(image.id),
                     method: :delete,
                     data: {confirm: 'Are you sure you want to delete this image?'} %>
        </div>
      </div>
      </div>
  <% end %>
  </div>
</div>
